.main {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    padding: 5%;
}

.main__start {
    grid-area: 1/1/2/2;
}

.main__result {
    grid-area: 1/3/2/4;
}

.main__sort,
.main__sum {
    padding: 2%;
    font-size: 1.5em;
    text-align: center;
}

.main__sort {
    grid-area: 2/1/3/4;
    background-color: #EEE8AA;
}

.main__sum {
    grid-area: 3/1/4/4;
    background-color: #F0E68C;
}